$primary1: #0086c3;
$primary2: #cddc39;
$primary3: #e3f2fd;
$primary4: #b71c1c;
$primary5: #ffebee;

$text-dark: #424242;
$text-gray: #7d7b7b;
$box-shadow-gray: #bbb;
$border-gray: #a3a3a3;
$border-light-gray: #c4c4c4;
$bg-gray: #e8e8e8;
$light-gray: #f5f5f5;
$doc-item-color: #d4dce2;
$dark-blue: #2b2c5d;
$light-blue: #009aff;
$text-field-bg-color: #f5f8fa;
$text-field-border: #cbd6e2;
$label: #333;

$black: #000;
$white: #fff;

$body-background: #e5e5e5;
$light-grey: #fbfbfe;
$mail-icon: #3953fe;
$mail-icon-background: linear-gradient(0deg, #d9e2fe, #d9e2fe);
$comment-icon-small: #39c6a2;
$comment-icon-background: #e5f5f3;
$close-status-icon: #516395;
$active-tab: #465efb;
$reply-in-hour: #edb524;
$reply-in-minute: #ed7575;
$call-icon-background: #fdf1c8;
$call-icon: #f2a100;
$background-icons: #e7e9ee;
$user-avatar-background: #fcd9d9;
$email-action-icon-background: #e0e3ec;
