@font-face {
  font-family: LatoLight;
  font-style: normal;
  //font-weight: 100;
  //src: url('../assets/fonts/lato/Lato-Light.ttf');
}

@font-face {
  font-family: LatoBold;
  font-style: normal;
  font-weight: bold;
  //src: url('../assets/fonts/lato/Lato-Bold.ttf');
}

@font-face {
  font-family: LatoRegular;
  font-style: normal;
  font-weight: normal;
  //src: url('../assets/fonts/lato/Lato-Regular.ttf');
}
